{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="container bg-info" style="margin-top: 100px;">
        <div class="row">
          <div class="heading text-center"><h2> About Us</h2></div>
          <div class="col-md-12">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum impedit reprehenderit dolorem vero in temporibus, fugit perspiciatis earum consequuntur numquam unde laborum doloremque, dolores nihil quisquam ex et minima repellendus! Nemo sapiente sunt rem neque quod aut aliquam modi suscipit! Eum atque ullam, cumque in fuga suscipit quaerat recusandae? Autem corrupti voluptas asperiores eligendi a eos aliquam debitis quod nam!</p>
          </div>
      </div>
  </div>

<div class="container">
<div class="row">
    <div class="col-md-6">
        <div class="">
            <h3>What we do?</h3>
        </div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad porro esse repellendus similique accusantium soluta error! Accusamus porro rem atque, non repudiandae aperiam?</p>
    </div>

    <div class="col-md-6">
        <div class="">
            <h3>Why choose Us?</h3>
        </div>
        <ul>
           <li>Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
           <li>Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
           <li>Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
           <li>Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
           <li>Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
        </ul>
    </div>
</div>
</div>


{% endblock content %}
    