{% extends 'base.html' %} 
{% load static %}



{% block content %}
  
<div id="#top"></div>
<section id="home">
  <div class="banner-container"> 
  	<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval = "3000">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
    <li data-target="#carousel" data-slide-to="3"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
  
   <div class="active item"><img src="{% static 'images\car1.jpg' %}" alt="banner" /></div>
   {% for car in cars %}
   <div class="item"><img src="{{car.Carsoul_image.url}}" alt="banner" /></div> 
   {% endfor %}
   
  </div>
 
</div>
  </div>  
  
  <div class="container hero-text2">
    {% for de in des %}
  <h3>{{de.Car_description|linebreaks}}</h3>
  {% endfor %}
  </div>
</section>

<section id="services" class="page-section colord">
  <div class="container">
    <div class="row"> 
      <!-- item -->
      {% for se in ser %}
      <div class="col-md-3 text-center"> <i class="circle"><img src="{{se.Services_Image.url}}" alt="" /></i>
        <h3>{{se.Services_title}}</h3>
        <p>{{se.Services_description}} <a href="{% url 'service_page1' %}" class= "btn" style="color:rgb(137, 137, 238)">Read More</a></p>
      </div>
     {% endfor %}
      <!-- end: --> 
    </div>
  </div>
  <!--/.container--> 
</section>

<section id="aboutUs">
  <div class="container">
    {% for ab in abu %}
    <div class="heading text-center"> 
      <!-- Heading -->
      <h2>About Us</h2>
      <p>{{ab.AboutUs_description}}</p>
    </div>
    <div class="row feature design">
      <div class="area1 columns right">
        <h3>{{ab.Sub_header}}</h3>
        <p> {{ab.Sub_Header_description|linebreaks}} </p>
          <a href="{% url 'about_Us' %}" class="btn">Learn More</a>
      </div>
      <div class="area2 columns feature-media left"> <img src="{{ab.AboutUs_image.url}}" alt="" width="100%"> </div>
    </div>
   {% endfor %}
    <div class="row dataTxt">	
           {% for wh in whu %}
						<div class="col-md-4 col-sm-6">
							<h4>What We Do?</h4>
							<p> {{wh.What_we_do}}</p>
							<br>
						</div>
						{% endfor %}
						<div class="col-md-4 col-sm-6">
							<h4>Why Choose Us?</h4>
              {% for wh in whu %}
							<p> {{wh.Why_Choose_us_header}} </p>
              {% endfor %}
              <ul class="listArrow">
                {% for li in lis %}
								<li>{{li.Why_Choose_us_list}}</li>
                {% endfor %}
							</ul>
						</div>
						
						<div class="col-md-4 col-sm-6">
              {% for wh in whu %}
							 <img src="{{wh.Why_Choose_us_image.url}}" alt="" width="100%">
               {% endfor %}
						</div>
						
			</div>
  </div>
</section> 

<section id="work" class="page-section page">
  <div class="container text-center">
    <div class="heading">
      <h2>Projects</h2>
      {% for pr in pro %}
      <p>{{pr.Project_Heading}}</p>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="portfolio">
          <ul class="filters list-inline">
            <li> <a class="active" data-filter="*" href="#">All</a> </li>
            <li> <a data-filter=".photography" href="#">New Projects</a> </li>
            <li> <a data-filter=".branding" href="#">Green Building</a> </li>
            <li> <a data-filter=".web" href="#">Modern Design</a> </li>
          </ul>
          <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight" style="position: relative; height: 438px;">
            <!--
            <li class="item {{pr.category_of_projects}}" style="position: absolute; left: 0px; top: 0px;"> 
								 			 
			    <figure class="effect-bubba">
						<img src="{{pr.Project_Image.url}}" alt="img02"/>
						<figcaption>
							<h2>Trends</h2> 
							<a href="{{pr.Project_Image.url}}" class="fancybox">View more</a> 
						</figcaption>			
					</figure> 
					
			      </li>
			     -->
       {% for pr in pro %}
			 {% if pr.category_of_projects == 'PHG' %}
            <li class="item photography" style="position: absolute; left: 292px; top: 0px;"> 
			<figure class="effect-bubba">
						<img src="{{pr.Project_Image.url}}" alt="img02"/>
						<figcaption>
							<h2>Trends</h2> 
							<a href="{{pr.Project_Image.url}}" class="fancybox">View more</a> 
						</figcaption>			
					</figure> 
			  </li>
        
        {% elif pr.category_of_projects == 'BRN' %}
            <li class="item branding" style="position: absolute; left: 585px; top: 0px;"> 
			<figure class="effect-bubba">
						<img src="{{pr.Project_Image.url}}" alt="img02"/>
						<figcaption>
							<h2>Trends</h2> 
							<a href="{{pr.Project_Image.url}}" class="fancybox">View more</a> 
						</figcaption>			
					</figure>  
			  </li>
         
			  
        {% elif pr.category_of_projects == 'WB' %}
            <li class="item web" style="position: absolute; left: 292px; top: 219px;"> 
			<figure class="effect-bubba">
						<img src="{{pr.Project_Image.url}}" alt="img02"/>
						<figcaption>
							<h2>Trends</h2> 
							<a href="{{pr.Project_Image.url}}" class="fancybox">View more</a> 
						</figcaption>			
					</figure> 
			  </li>
        {% endif %}
        {% endfor %} 
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</section>


<section id="" class="page-section page">
  <div class="container">
    <div class="heading text-center"> 
      {% for vd in vid %}
      {% if vd.Display_Video_heading %} 
      <h2>{{vd.Video_heading}}</h2>
      {% endif %}
      {% endfor %} 
    </div>
  
  <div class="row">
    {% for vd in vid %}
    <div class="col-md-4">
    <video  width="600" height="600" controls>
    <source src="{{vd.Upload_Video.url}}" type="video/mp4">
   </video>
   </div>
   <!--
   <div class="col-md-4">
      <video  width="600" height="600" controls>
     <source src="{% static 'videos/video1.mp4' %}" type="video/mp4">
    </video>
   </div>
   <div class="col-md-4">
    <video  width="600" height="600" controls>
     <source src="{% static 'videos/video1.mp4' %}" type="video/mp4">
    </video>
    </div>
    -->
    {% endfor %}
  </div> 
</div>
</section> 


<section id="team" class="page-section">
  <div class="container">
    <div class="heading text-center"> 
      <!-- Heading -->
      <h2>Team</h2>
      {% for tm in tem %}
      <p>{{tm.Team_descrption}}</p>
      {% endfor %}
    </div>
    <!-- Team Member's Details -->
    <div class="team-content">
      <div class="row">
        {% for tm in tem %}
        <div class="col-md-3 col-sm-6 col-xs-12"> 
          <!-- Team Member -->
          <div class="team-member pDark"> 
            <!-- Image Hover Block -->
            <div class="member-img"> 
              <!-- Image  --> 
              <img class="img-responsive" src="{{tm.Team_Image.url }}" alt=""> </div>
            <!-- Member Details -->
            <div class="team-title">
			<h4>{{tm.Team_member_name}}</h4>
            <!-- Designation --> 
            <span class="pos">{{tm.Team_member_designation}}</span>
			     </div>
            <div class="team-socials"> <a href="{{tm.Team_member_facebook_link}}"><i class="fa fa-facebook"></i></a> <a href="{{tm.Team_member_google_plus_link}}"><i class="fa fa-google-plus"></i></a> <a href="{{tm.Team_member_twitter_link}}"><i class="fa fa-twitter"></i></a></div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!--/.container--> 
</section>


<section class="contact-parlex">
  <div class="parlex-back">
    <div class="container">
      <div class="row">
        <div class="heading text-center"> 
          <!-- Heading -->
          <h2>Our Location</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 ">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1770.3387735966191!2d89.65883613094293!3d27.448158257892494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e1952da3cad4fb%3A0x3edb489c42ba1d2d!2sVANITY%20ZONE!5e0!3m2!1sen!2sbt!4v1627489977274!5m2!1sen!2sbt" style="border:0; width: 100%; height: 384px;"allowfullscreen></iframe>
         <!-- <iframe class="mb-4 mb-lg-0"  src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7081.516057082949!2d89.65681497338545!3d27.445650802917644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sthimphu%2C%20olakha!5e0!3m2!1sen!2sbt!4v1622040009292!5m2!1sen!2sbt" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>-->
        </div>
      </div>
    </div>
    <!--/.container--> 
  </div>
</section>
{% endblock content %}
