
{% extends 'base.html' %}
{% load static %}


{% block content %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    {% block title %}
		Login Form
	{% endblock title %}


	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Working Signin form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<!-- //Meta tag Keywords -->
	<link href="% static '//fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap' %}" rel="stylesheet">
	<!--/Style-CSS -->
	<link rel="stylesheet" href="{% static 'css/log.css' %}" type="text/css" media="all" />
	<!--//Style-CSS -->
</head>

<body style="background-color: aqua;"> 
<br><br><br>
	 <!-- form section start -->
	 <section class="w3l-workinghny-form">
        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="wrapper">
                <div class="logo">
                    <h1><a class="brand-logo" href="index.html"> Sign In</a></h1>
                    <!-- if logo is image enable this   
                        <a class="brand-logo" href="#index.html">
                            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                        </a> -->
                </div>
                <div class="workinghny-block-grid">
                    <div class="workinghny-left-img align-end">
                        <img src="{% static 'images/sl.png' %}" class="img-responsive" alt="img" />
                    </div>
                    <div class="form-right-inf">
						
                        <div class="login-form-content">
                            <form action="login" class="signin-form" method="post">
                                {% csrf_token %}
								<div class="one-frm">

									<label>Enter Username</label>
									<input type="text" name="username"  placeholder="Username" required="">
								</div>
								<div class="one-frm">
									<label>Enter Password</label>
									<input type="password" name="password"  placeholder="Password" required="">
								</div>
                                <div>
                                    {% for message in messages %}
                                    <h1 style="color: red; font-style:italic; font-size:medium">**{{message}}</h1>
                                    {% endfor %}
                                </div><br>

                                <label class="check-remaind">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    <p class="remember">Remember Me</p>

                                </label>
                                <button class="btn btn-style mt-3">Sign In </button>
                                <p class="already">Don't have an account? <a href="register">Sign Up</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //form -->
    </section>
    <!-- //form section start -->

</body>

</html>
{% endblock content %}