{% extends 'base.html' %}
{% load static %}


{% block content %}
	
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		
		{% block title %}
			Registration
		{% endblock title %}

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' %}" crossorigin="anonymous">
	
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{% static 'fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>

	<body style="background-color: cadetblue;">

      <div class="container" style="margin-top: 100px; margin-bottom:100px;">
		<div class="row">
		<div class="wrapper">
			<div class="inner">
				<div class="col-md-5">
				   <div class="image-holder">
					
					<img src=" {% static 'images/reg.png' %}" alt="">
				   </div>
			    </div>

			<div class="col-md-7 border-left">
				<form action="register" method="POST">
					 {% csrf_token %}
					 <div class="heading text-center">
					   <h3>Registration Form</h3>
				     </div>
					<div class="">
						<input type="text" placeholder="*First Name" class="form-control" name="first_name" required>
						<input type="text" placeholder="*Last Name" class="form-control" name="last_name" required>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Username" class="form-control" name="username" required>
						<i class="zmdi zmdi-account"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Email Address" class="form-control" name="email" required>
						<i class="zmdi zmdi-email"></i>
					</div>
	
					<div class="form-wrapper">
						<input type="password" placeholder="Password" class="form-control" name="password1" required>
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Confirm Password" class="form-control" name="password2">
						<i class="zmdi zmdi-lock"></i>
						</div><br>
						<div>
							{% for message in messages %}
							<h1 style="color: red; font-style:italic; font-size:small">**{{message}}</h1>
							{% endfor %}
						</div>
					<button type="button" class="btn btn-dark btn-lg">Register</button>
				</form>
			</div>	
			</div>
		</div>
	</div>
	</div>

<script src="{% static 'https://code.jquery.com/jquery-3.2.1.slim.min.js' %}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' %}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</body>
</html>

{% endblock content %}